@for (disc of DISCIPLINAS; track disc.cod) {
  <mat-card class="card-disciplina" appearance="outlined">
      <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ disc.nome }}</mat-card-title>
          <mat-card-subtitle>{{ disc.cod }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>
              O disciplina de {{ disc.nome }} do IFPB...
          </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [matBadge]="disc.likes" (click)="curtir(disc)">Gostei</button>
        <button mat-button (click)="descurtir(disc)">Não gostei!</button>
        <button mat-icon-button (click)="remover(disc)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="avaliar(disc)">
            <mat-icon>{{ nomeIconeCurtir(disc) }}</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>

}
